<script language="javascript" src="link/dalliance-compiled.js"></script>
<script language="javascript">
  new Browser({
    chr:          '22',
    viewStart:    30700000,
    viewEnd:      30900000,

    coordSystem: {
      speciesName: 'Human',
      taxon: 9606,
      auth: 'GRCh',
      version: '37',
      ucscName: 'hg19'
    },

    sources:     [{name:                 'Genome',
                   twoBitURI:            'file:///out.2bit',
                   tier_type:            'sequence'},

                  {name: "MyBAMTrack",
                   bamURI: "file:///data_ecv_all_sorted.bam"}
                  ],

  });
</script>

<div id="svgHolder"></div>